.input-decor {
    border: 2px solid #3498db;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.submit2 {
    background: linear-gradient(to right, #3498db, #e74c3c);
    background-clip: text;
    border-radius: 15px;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.header {
    text-align: center;
    font-size: 46px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #3498db, #e74c3c);
    background-clip: text;
    color: #fff;
    margin-bottom: 30px;
}
.login {
    background: linear-gradient(to right, #3498db, #e74c3c);
    background-clip: text;
    border-radius: 15px;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    position: absolute;
    top: 80px;
    }

.user-info {
    text-align: right;
    margin-right: 20px;
}
.logout {
    text-decoration: none;
}
.table {
    width: 80%;
    border-collapse: collapse;
}
.table-item {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.add-customer {
    background: linear-gradient(to right, #3498db, #e74c3c);
    background-clip: text;
    border-radius: 15px;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}
.table-item-decor {
    text-decoration: none;
    color: black;
}
.input-decor2 {
    border: 2px solid #3498db;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    }
.submit3 {
    background: linear-gradient(to right, #3498db, #e74c3c);
    background-clip: text;
    border-radius: 15px;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 15px;
    margin: 0 auto;

    }
.item_manager {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.item_link1 {
    text-decoration: none;
    background: #3498db;
    color: white;
    padding: 14px 16px;
}
.item_link2 {
    text-decoration: none;
    background: green;
    color: white;
    padding: 14px 16px;
}
.item_link3 {
    text-decoration: none;
    background: #e74c3c;
    color: white;
    padding: 14px 16px;
}
.h3 {
     text-align: center;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label-decor {
    margin-bottom: 5px;
}
.statuses-container {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    width: 20%;
}
.status {
    margin-bottom: 8px;
    text-align: center;
}