<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='customers.css') }}">
</head>
<body>
 <div class="user-info">
     <p class="user-name"> {{ user }}, <a class="logout" href="/logout/">Log out</a></p>
 </div>
 <h1 class="header">Items</h1>
   <div>
         <a class='login' href="/crm/"><- Come back </a>
    </div>
<form action="/items/" method="post" enctype="multipart/form-data">
    <h3>Add a new item</h3>
    <input class="input-decor2" type="text" name="name" placeholder="Name">
    <input class="input-decor2" type="text" name="code" placeholder="Code">
    <select class="input-decor2" name="group">
        {% for group in items_groups %}
        <option value="{{ group.id }}"> {{group.name}} </option>
        {% endfor %}
    </select>
    <input class="input-decor2" type="text" name="description" placeholder="Description">
    <input class="submit3" type="submit" value="Ok">
</form>
 <br><br>
<div>
    <table class="table">
        <tr>
            <th class="table-item">Name</th>
            <th class="table-item">Code</th>
            <th class="table-item">Group</th>
            <th class="table-item">Description</th>
        </tr>
         {% for item in items_all %}
        <tr>
            <td class="table-item"><a class="table-item-decor" href="/items/ {{ item.id }}">{{ item.name }}</a></td>
            <td class="table-item"><a class="table-item-decor" href="/items/ {{ item.id }}">{{ item.item_code }}</a></td>
            <td class="table-item"><a class="table-item-decor" href="/items/ {{ item.id }}">{{ item.item_group }}</a></td>
            <td class="table-item"><a class="table-item-decor" href="/items/ {{ item.id }}">{{ item.description }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

 <footer>
     <p>&copy; 2023 Ju</p>
 </footer>
</body>
</html>