<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order statuses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='customers.css') }}">
</head>
<body>
 <div class="user-info">
     <p class="user-name"> {{ user }}, <a class="logout" href="/logout/">Log out</a></p>
 </div>
<form action="/order_statuses/" method="post">
    <h1 class="header"> Add a new order status</h1>
    <div>
         <a class='login' href="/crm/"><- Come back </a>
    </div>
    <div>
        <input class="input-decor" type="text" name="name" placeholder="Name"><br><br>
        <input class="submit2" type="submit" value="Ok">
    </div>
    <h3 class="h3">Order statuses</h3>
    <div class="statuses-container">
        {% for status in statuses %}
        <p class="status">{{ status }}</p>
        {% endfor %}
    </div>
</form>
 <footer>
     <p>&copy; 2023 Ju</p>
 </footer>
</body>
</html>